.form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}
.form-check-input {
  margin-top: 35px;
}
.form-check-label {
  display: flex;
  width: 100%;
  margin-right: 3px;
  margin-top: 33px;
}
.remember,
.forgot {
  color: white;
  margin-left: 3px; /* حذف فاصله اضافی */
  font-size: 12px;
  margin-bottom: 10px;
}
.link {
  position: absolute;
  right: 10px;
  margin-top: 32px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  color: white;
}
.link:hover {
  opacity: 75%;
}
.link:active {
  opacity: 50%;
}
.btn {
  width: 100%;
  color: white;
  border-width: 1px;
  border-radius: 0;
  border-color: white;
  border-style: solid;
}
.btn:hover {
  border-color: white;
  color: white;
  opacity: 75%;
}
.btn:active {
  border-color: black;
  opacity: 50%;
}
